* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none;
    color: #ccc;
  }

  html {
    scroll-behavior: smooth;
  }

 body {
  background-color: #0276FF;
  font-family: 'Montserrat', sans-serif;
 }

 header {
  margin-left: 80px;
  margin-right: 80px;
 }

 .nav {
  padding-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .nav-btn {
  background-color: #0276FF;
  color: white;
  font-size: 1em;
  font-weight: 900;
  padding: 14px 32px 14px 32px;
  border: 1.5px solid white;
  border-radius: 10px;
 }

 .hero {
  margin-top: 7%;
  margin-left: 80px;
  margin-right: 80px;
 }

 .hero-img {
  width: 100%;
 }

 .hero-img img {
  width: 100%;
 }

 h1 {
  font-size: 5em;
  color: white;
 }



