* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }

 body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
 }

 .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 99999;
 }

 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
 }

 .header img {
  width: 8%;
 }

 .navBtn {
  padding: 12px 18px 12px 18px;
  background: none;
  border: 2px solid black;
  color: black;
  font-size: 1em;
  font-weight: 900;
 }

 .navBtn:hover {
  border: 2px solid #FF5C00;
 }

 .hero {
  display: flex;
  width: 100%;
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
 }

 .hero img {
  width: 100%;
 }

 .i-do {
  clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
  background-color: black;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
 }

 .i-do h2, .ux-ui h2 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  line-height: 37px;
 }

 .what-i-do {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-top: 5%;
  margin-bottom: 7%;
 }

 .what-i-do div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 1.5%;
 }

 .what-i-do div:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 15px;
  width   : 30%;
  border-bottom:5px solid #FF5C00;
 }

 .i-do p {
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: 500;
 }

 .i-know {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-color: #FF5C00;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
 }

 .i-know h2 {
  font-size: 3em;
  font-weight: 900;
  color: white;
 }

 .i-practice {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
 }

 .i-practice h2 {
  font-size: 3em;
  font-weight: 900;
  color: black;
  margin-bottom: 2.5%;
 }

 .i-practice p {
  color: black;
  font-size: 2em;
  font-weight: 500;
 }

 .ux-ui {
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  background-color: black;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
 }

 .project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-right: 3.5%;
  gap: 50px;
  position: relative;
 }

 .project-container::before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 15px;
  width   : 45%;
  border-bottom:5px solid white;
 }

 .project-container:nth-child(4)::before {
  border-bottom: none;
 }

 .project-container p {
  color: white;
  font-size: 1.7em;
 }

 .project-img {
  width: 48%;
 }

 .project-img img {
  width: 100%
 }

 .project-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
 }

 .project-btn {
  padding: 12px 18px 12px 18px;
  background: none;
  border: 2px solid #FF5C00;
  color: #FF5C00;
  font-size: .9em;
  font-weight: 900;
 }

 .project-btn:hover {
  border: 2px solid white;
 }

 /* WEB DEV SECTION STYLES */
 .web-dev {
  background-color: #FF5C00;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
 }

 .web-dev h2 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  line-height: 37px;
 }

 .web-dev .project-container .project-info p {
  color: white;
 }

 .web-dev .project-container .project-info div .project-btn {
  color: black;
  border: 2px solid black;
 }

 .web-dev .project-container .project-info div .project-btn:hover {
  background: none;
  border: 2px solid white;
 }

 .web-dev .project-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-right: 3.5%;
  gap: 50px;
  position: relative;
 }

 .web-dev .project-container::before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 15px;
  width   : 45%;
  border-bottom:5px solid white;
 }

 .web-dev .project-container:nth-child(3)::before {
  border-bottom: none;
 }

 /* DIGITAL MARKETING SECTION STYLES */
 .digital-marketing {
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 94%);
  background-color: black;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4.5%;
 }

 .digital-marketing h2 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  line-height: 37px;
 }

 .digital-marketing .project-container:nth-child(3)::before {
  border-bottom: none;
 }

 /* FOOTER STYLES */
 .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 6%; 
 }

 .left-border {
  position: relative;
  padding-left: 1.6%;
 }

 .left-border::before {
  content : "";
  position: absolute;
  left    : 0;
  top     : 0;
  height  : 70px;
  width   : 50%;
  border-left:5px solid black;
 }

 .footer-icons {
  display: flex;
  gap: 10px;
  margin-top: 1%;
 }

 .footer-icons img {
  width: 4%;
 }

 .footer-icons img:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
 }